global:
  scrape_interval: 15s
  evaluation_interval: 15s
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']
  - job_name: 'qadrant'
    static_configs:
      - targets: ['qadrant:6333']
    metrics_path: '/metrics'
  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres-exporter:9187']
  - job_name: fastapi
    static_configs:
      - targets: ['fastapi:8000']
    metrics_path: '/metrics'  